@{
    Layout = "";
}

    <head>

        @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.bootstrap4.min.css">
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>*@

        @*<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.css" />*@





        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.css" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.js"></script>
        <script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.js"></script>
        <script type="text/javascript" language="javascript" src="https://luca-vercelli.github.io/DataTable-AltEditor/src/dataTables.altEditor.free.js"></script>

        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
<script type="text/javascript" class="init">

    $(document).ready(function () {

        $("#btn").on('click', function (event) {
            console.log('clicked');
            var hub = $.connection.myHub;
            function setData(data) {
                debugger;
                console.log(data);
                $("#messages").html("<p> " + data + "</p>");
            }
            hub.client.callreturn = function (data) {
                console.log("return");
                setData(data);
            }

            $.connection.hub.start()
                .done(function () {

                    console.log("Hub Connected");
                    hub.server.setID($("#txt").val());

                }).fail(function () {
                    console.log("Could not Connect!")
                });

        });





        var table = $('#table_id').DataTable({
            ajax: {
                url: "/api/DD_Orders",
                dataSrc: ""

            },
            columns: [
                {
                    data: "index"
                }, {
                    data: "DD_customer.Recipient_s_name"

                }, {
                    data: "Checkout_at"
                }, {
                    data: "DD_customer.Shipping_address"
                }, {
                    data: "Order_status"
                }
            ],
            lengthChange: true,
            //buttons: ['copy', 'excel', 'pdf', 'colvis'], table.buttons().container()
            //    .appendTo('#example_wrapper .col-md-6:eq(0)');
        });



        //var siteEditor = new $.fn.dataTable.Editor({
        //    ajax: '/api/DD_Orders',
        //    table: '#sites',
        //    fields: [{
        //        label: 'Site name:',
        //        name: 'name'
        //    }]
        //});
        $(document).ready(function () {

            var columnDefs = [


                {
                    className: 'details-control',
                    orderable: false,
                    data: null,
                    defaultContent: '',
                    width: '10%'
                },


                {
                    data: "id"
                },
                {
                    data: "name"
                },
                {
                    data: "position"
                },
                {
                    data: "office"
                },
                {
                    data: "extension"
                },
                {
                    data: "startDate"
                },
                {
                    data: "salary"
                }];

            var myTable;

            // local URL's are not allowed
            var url_ws_mock_get = 'https://luca-vercelli.github.io/DataTable-AltEditor/example/03_ajax_objects/mock_svc_load.json';
            var url_ws_mock_ok = 'https://luca-vercelli.github.io/DataTable-AltEditor/example/03_ajax_objects/mock_svc_ok.json';

            myTable = $('#example').DataTable({
                "sPaginationType": "full_numbers",
                ajax: {
                    url: url_ws_mock_get,
                    // our data is an array of objects, in the root node instead of /data node, so we need 'dataSrc' parameter
                    dataSrc: ''
                },
                columns: columnDefs,
                dom: 'Bfrtip',        // Needs button container
                select: 'single',
                responsive: true,
                altEditor: true,     // Enable altEditor
                buttons: [{
                    text: 'Add',
                    name: 'add'        // do not change name
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Edit',
                    name: 'edit'        // do not change name
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Delete',
                    name: 'delete'      // do not change name
                },
                {
                    text: 'Refresh',
                    name: 'refresh'      // do not change name
                }],
                onAddRow: function (datatable, rowdata, success, error) {
                    $.ajax({
                        // a tipycal url would be / with type='PUT'
                        url: url_ws_mock_ok,
                        type: 'GET',
                        data: rowdata,
                        success: success,
                        error: error
                    });
                },
                onDeleteRow: function (datatable, rowdata, success, error) {
                    $.ajax({
                        // a tipycal url would be /{id} with type='DELETE'
                        url: url_ws_mock_ok,
                        type: 'GET',
                        data: rowdata,
                        success: success,
                        error: error
                    });
                },
                onEditRow: function (datatable, rowdata, success, error) {
                    $.ajax({
                        // a tipycal url would be /{id} with type='POST'
                        url: url_ws_mock_ok,
                        type: 'GET',
                        data: rowdata,
                        success: success,
                        error: error
                    });
                }
            });


        });


        $('#example tbody').on('click', 'td.details-control', function () {
            debugger;
            var tr = $(this).closest('tr');
            var row = siteTable.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                destroyChild(row);
                tr.removeClass('shown');
            }
            else {
                // Open this row
                createChild(row, 'child-table'); // class is for background colour
                tr.addClass('shown');
            }
        });


        function createChild(row) {
            debugger;
            // This is the table we'll convert into a DataTable
            var table = $('<table class="display" width="100%"/>');

            // Display it the child row
            row.child(table).show();

            // Initialise as a DataTable
            var usersTable = table.DataTable({
                // ...
            });
        }
        function destroyChild(row) {
            var table = $("table", row.child());
            table.detach();
            table.DataTable().destroy();

            // And then hide the row
            row.child.hide();
        }
       


        /* Formatting function for row details - modify as you need */
      

       
    });
    function format(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Full name:</td>' +
            '<td>' + d.name + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Extension number:</td>' +
            '<td>' + d.extn + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Extra info:</td>' +
            '<td>And any further details here (images etc)...</td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function () {

        var table = $('#example1').DataTable({

            ajax: {
                url: '/api/DD_Orders',
                dataSrc: '',
            },
            columns: [
                {
                    className: 'details-control',
                    orderable: false,
                    data: null,
                    defaultContent: '',
                },
                {
                    data: 'index',
                },
                {
                    data: 'DD_customer.Recipient_s_name',
                },
                {
                    data: 'Checkout_at',
                },
                {
                    data: 'DD_customer.Shipping_address',
                },
                {
                    data: 'Order_status',
                },
            ],
            dom: 'Bfrtip', // Needs button container
            select: 'single',
            responsive: true,
            altEditor: true, // Enable altEditor
            buttons: [
                {
                    text: 'Add',
                    name: 'add', // do not change name
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Edit',
                    name: 'edit', // do not change name
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Delete',
                    name: 'delete', // do not change name
                },
                {
                    text: 'Refresh',
                    name: 'refresh', // do not change name
                },
            ],
            onAddRow: function (datatable, rowdata, success, error) {
                $.ajax({
                    // a tipycal url would be / with type='PUT'
                    url: url_ws_mock_ok,
                    type: 'GET',
                    data: rowdata,
                    success: success,
                    error: error,
                });
            },
            onDeleteRow: function (datatable, rowdata, success, error) {
                $.ajax({
                    // a tipycal url would be /{id} with type='DELETE'
                    url: url_ws_mock_ok,
                    type: 'GET',
                    data: rowdata,
                    success: success,
                    error: error,
                });
            },
            onEditRow: function (datatable, rowdata, success, error) {
                $.ajax({
                    // a tipycal url would be /{id} with type='POST'
                    url: url_ws_mock_ok,
                    type: 'GET',
                    data: rowdata,
                    success: success,
                    error: error,
                });
            },
            order: [[1, 'asc']],
        });
        $('#example1 tbody').on('click', 'td.details-control', function () {
            //var tr = $(this).closest('tr');
            //var row = table.row(tr);
            console.log('on click');
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                destroyChild(row);
                tr.removeClass('shown');
            } else {
                // Open this row
                createChild(row, 'child-table'); // class is for background colour
                tr.addClass('shown');
            }
        });
    });

    function createChild(row) {
        console.log('createChild');
        // This is the table we'll convert into a DataTable
        var table = $('<table class="display" width="100%"/> ');

        // Display it the child row
        row.child(table).show();
        table.append("<tfoot><tr><td></td><td></td><td><b>รวม</b></td><td></td></tr></tfoot>");
        // Initialise as a DataTable
        var usersTable = table.DataTable({
            bPaginate: false,
            bLengthChange: false,
            bFilter: true,
            bInfo: false,
            bAutoWidth: false,
            //remove search input
            "dom": 'lrtip',
            // searching: false,
            ajax: {
                url: '/odata/DD_Order_detail1?$filter=Order_number eq 5',
                dataSrc: 'value',
                //type: "post",
                //data: function (d) {
                //    d.site = rowData.id;
                //}
            },

            columns: [
                { title: 'ชื่อสินค้า', data: 'Product_Name' },
                { title: 'จำนวน', data: 'Item_quantity' },
                { title: 'ราคาหน่วยละ', data: 'Full_Price' },
                {
                    title: 'ราคารวม',
                    data: null,
                    render: function (data, type, row, meta) {
                        //console.log(data);
                        return data.Full_Price * data.Item_quantity;
                    },
                },
            ],

            select: true,
            responsive: true,
            altEditor: true, // Enable altEditor
            buttons: [
                {
                    text: 'Add',
                    name: 'add', // do not change name
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Edit',
                    name: 'edit', // do not change name
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Delete',
                    name: 'delete', // do not change name
                },
                {
                    text: 'Refresh',
                    name: 'refresh', // do not change name
                },
            ],
            lengthChange: true,
            footerCallback: function (row, data, start, end, display) {
                var api = this.api(),
                    data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string'
                        ? i.replace(/[\$,]/g, '') * 1
                        : typeof i === 'number'
                            ? i
                            : 0;
                };

                // Total over all pages
                data = api.column(3).cache('search');
                total = data.length
                    ? data.reduce(function (a, b) {
                        console.log('data=' + data);
                        return intVal(a) + intVal(b);
                    })
                    : 0;

                // Update footer
                $(api.column(3).footer()).html(total + ' บาท'
                );
            },
        });

        //});
    }

    function getTotalPrice(data, type, row, meta) {
        console.log(data.Full_Price);
        return data.Full_Price * data.Item_quantity;
    }


</script>
        </head>
<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 5px 10px;
    }
td.details-control { background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center; cursor: pointer; }

tr.shown td.details-control { background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center; }
</style>
<body>
    <div class="container">
        <h2>Index</h2>'
        <table id="odata" class="display" width="100%">
            <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>

</table>
        
        <div class="row">
            <table id="example1" cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>ลำดับ</th>
                        <th>ชื่อ</th>
                        <th>เวลา</th>
                        <th>ส่งที่อยู่</th>
                        <th>สถานะ</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>ลำดับ</th>
                        <th>ชื่อ</th>
                        <th>เวลา</th>
                        <th>ส่งที่อยู่</th>
                        <th>สถานะ</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="example">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Extn</th>
                        <th>Start</th>
                        <th>date</th>
                        <th>Salary</th>
                    </tr>
                </thead>

            </table>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="table_id" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อ</th>
                            <th>เวลา</th>
                            <th>ส่งที่อยู่</th>
                            <th>สถานะ</th>
                            <th>จำนวน</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            page 1
            <input id="txt" type="text" />
            <button id="btn">Regis</button>
            <div id="messages">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @*<table id="site" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อ</th>
                            <th>เวลา</th>
                            <th>ส่งที่อยู่</th>
                            <th>สถานะ</th>
                            <th>จำนวน</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>*@
            </div>
        </div>
        <div class="row">
            page 1
            <input id="txt" type="text" />
            <button id="btn">Regis</button>
            <div id="messages">

            </div>
        </div>
    </div>
</body>
